{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf%}


{% block page_content %}


<div class="container-md">
    <h3>My Previous thoughts. User: {{name}}</h3>

    <ul class="list-group" >
        {% for topic in topics %}
        <li class="list-group-item">
            <div class="ms-2 me-auto">

                <div class="">
                    <h4>{{topic.name}}</h4>
                    {{topic.date_created.strftime("%a %d %b %Y")}}
                </div>

                <div class="" style="justify-content: end;">
                    <a href="/show_thoughts/{{topic.id}}&{{topic.name}}" class="btn btn-sm btn-primary float-right">See thoughts</a>
                    <a href="/delete_topic/{{topic.id}}" class="btn btn-sm btn-danger">Delete topic</a>
                </div>

            </div>
        </li>
        {% endfor %}
    </ul>


</div>    

{% endblock %}