{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf%}


{% block page_content %}


<div class="container-md" style="background:azure">
    <h3>My Previous thoughts. User: {{name}}</h3>

    <ol class="list-group list-group-numbered">
        {% for topic in topics %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">

                <div class="fw-bold">
                    {{topic.name}}
                </div>

                {{topic.date_created.strftime("%a %d %b %Y")}}
                <a href="/show_thoughts/{{topic.id}}&{{topic.name}}" class="btn btn-primary float-right">go</a>
            </div>


        </li>
        {% endfor %}

    </ol>


</div>    






{% endblock %}